<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>View all Employees</h1>
<hr/>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Join Date</th>
    </tr>
    <tr th:each="e : ${employees}">
        <td type="hidden" th:text="${e.getId()}" th:valuetype="Long" readonly></td>

        <td type="text" th:text="${e.getName()}"></td>

        <td type="text" th:text="${e.getRole()}"></td>

        <td type="text" th:text="${e.getJoin_date()}"></td>
        <td type="text" th:text="${e.getAge()}"></td>
    </tr>
</table>

</body>
</html>